<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233016312296-vov7h4ido4has6lb1n5l3k9hb85q14s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233016312296-vov7h4ido4has6lb1n5l3k9hb85q14s1</string>
	<key>API_KEY</key>
	<string>AIzaSyC3t-dNAYNgjXBkgWNBWVtA1vhP5_E5pU4</string>
	<key>GCM_SENDER_ID</key>
	<string>233016312296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rsms</string>
	<key>PROJECT_ID</key>
	<string>rsms-3e512</string>
	<key>STORAGE_BUCKET</key>
	<string>rsms-3e512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233016312296:ios:079872a73daeb57d14245d</string>
	<key>DATABASE_URL</key>
	<string>https://rsms-3e512-default-rtdb.firebaseio.com</string>
</dict>
</plist>